@function remToPx($var,$base:75){
    @return $var/$base * 1rem;
}
ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}
orient {
    text-align: left;
    text-align-last: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    // eslint-disable-next-line
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.box {
    display: flex;
    flex-direction:row;
    margin:remToPx(20);
    .box1 {
        flex: 2;
        font-size:remToPx(30);
        @extend ellipsis;
        @extend orient;
    }
    .box2 {
        flex: 1;
        font-size:remToPx(30);
        @extend ellipsis;
        @extend orient;
    }
}